.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(10px);
  z-index: -1;
  transition: backdrop-filter 1s;
}

.content {
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin: auto;
  background: #dedede;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  animation: slideIn 0.5s;
}

.content_out {
  animation: slideOut 0.5s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}