.card {
  border-radius: 16px;
  position: relative;
  border: 4px solid white;
  overflow: hidden;
  box-sizing: border-box;
  transform: translateZ(20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 50px;
  padding: 20px;
  cursor: pointer;
  background-color: rgba(222, 249, 255);
  & * {
    pointer-events: none;
  }
}

.blob {
  height: 100%;
  width: 100%;
}

.transition {
  transition: all 0.125s;
}

.perspective {
  perspective: 500px;
  perspective-origin: center;
}
